[submodule "jaeger-idl"]
	path = jaeger-idl
	url = git@github.com:jaegertracing/jaeger-idl
[submodule "opentelemetry-proto"]
	path = opentelemetry-proto
	url = git@github.com:open-telemetry/opentelemetry-proto
